docs/avocado/blue/schema/metadata.rnc

start = root_element

# ROOT ELEMENT

root_element = element burritoMetadata {
    attribute id  { id_string },
    attribute revision { revision_string },
    attribute version { xsd:string { pattern = "0.1(\..+)?" } },
    id_server_element+,
    ( scripture_elements | gloss_elements | parascriptural_elements | peripheral_elements )
}

id_server_element = element idServer {
    attribute prefix {id_prefix_string},
    attribute local { xsd:boolean }?,
    xsd:anyURI
}

# FLAVORS

scripture_elements = 
    (
        scripture_type_element,
        (
            identification_element &
            relationships_element?
        )
    )

gloss_elements = 
    (
        gloss_type_element,
        (
            identification_element &
            relationships_element?
        )
    )

parascriptural_elements = 
    (
        parascriptural_type_element,
        (
            identification_element &
            relationships_element?
        )
    )
    
peripheral_elements = 
    (
        peripheral_type_element,
        (
            identification_element &
            relationships_element?
        )
    )

scripture_type_element = scripture_text_type_element | scripture_x_type_element

gloss_type_element = element type { empty }

parascriptural_type_element = parascriptural_word_alignment_type_element

peripheral_type_element = element type { empty }

scripture_text_type_element = element type {
    element flavor { "scriptureText" } &
    element flavorType { "scripture" } &
    element hasCharacters { "true" } &
    scripture_type_elements &
    common_type_elements &
    scripture_text_details_element?
}

scripture_x_type_element = element type {
    element flavor { x_thingey } &
    element flavorType { "scripture" } &
    element hasCharacters { xsd:boolean } &
    scripture_type_elements &
    common_type_elements &
    x_details_element?
}

parascriptural_word_alignment_type_element = element type {
    element flavor { "parascripturalWordAlignment" } &
    element flavorType { "parascriptural" } &
    element hasCharacters { "false" } &
    parascriptural_type_elements &
    common_type_elements &
    parascriptural_word_alignment_details_element?
}

common_type_elements = (
    element hasSource { xsd:boolean } &
    element isPublishable { xsd:boolean } &
    scope_element &
    confidentiality_element
)

scripture_type_elements = (
    canon_spec_element
)

parascriptural_type_elements = empty

parascriptural_word_alignment_details_element = element details { empty }

############################################

canon_spec_element =
    element canonSpec {
        attribute type { canon_types },
        canon_component_element+
    }

canon_component_element = known_canon_component | x_canon_component

known_canon_component = element component { attribute name { canon_component_enum } }

x_canon_component = element component {
    attribute name { x_thingey },
    element book {canonical_book_enum}+
}

confidentiality_element = element confidentiality {
    element metadata { confidentiality_enum } &
    element source { confidentiality_enum } &
    element publications { confidentiality_enum }
}

scope_element = element scope { scope_book+ }

scope_book = element bookScope { pt_reference_string }

scripture_text_details_element = element details {
    element projectType { scripture_text_project_type_enum } &
    conventions_element?
}

identification_element = element identification {
    element name {
        name_like_content
    }+ &
    element description {
        name_like_content
    }* &
    element abbreviation {
        attribute lang {bcp47_string},
        abbreviation_string
    }* &
    element dateCompleted {
        loose_date
    }? &
    system_id*
}

system_id = known_system_id | x_system_id

known_system_id = ( gbc_system_id | reap_system_id | biblica_system_id | tms_system_id | ptreg_system_id | dbp_system_id | pt_system_id | agmt_system_id )

gbc_system_id =
  element systemId {
    attribute type { "gbc" },
    gbc_elements
  }

gbc_elements =
  element id {
    gbc_id_string
  }

ptreg_system_id =
  element systemId {
    attribute type { "ptreg" },
    ptreg_elements
 }

tms_system_id =
  element systemId {
    attribute type { "tms" },
    tms_elements
  }

tms_elements =
  element id {
    tms_id_string
  }

pt_system_id =
  element systemId {
    attribute type { "paratext" },
    pt_elements
  }

pt_elements =
  element name { trimmed_text } &
  element fullName { trimmed_text } &
  element csetId { trimmed_text }? &
  element id { pt_id_string } &
  (
    element baseId { pt_id_string } &
    element baseName { trimmed_text }
  )?

ptreg_elements =
  element id { ptreg_id_string }

reap_system_id =
  element systemId {
    attribute type { "reap" },
    reap_elements
  }

reap_elements =
  element id { reap_id_string }

biblica_system_id =
  element systemId {
    attribute type { "biblica" },
    biblica_elements
  }

biblica_elements =
  element id { biblica_id_string }

dbp_system_id =
  element systemId {
    attribute type { "dbp" },
    dbp_elements
  }

dbp_elements =
  element id { dbp_id_string }

agmt_system_id =
  element systemId {
    attribute type { "agmt" },
    agmt_elements
  }

agmt_elements =
  element id { agmt_id_string }
  
x_system_id =
  element systemId {
    attribute type { x_thingey },
    anything
  }

name_like_content = (
    attribute lang {bcp47_string},
    trimmed_text
)

conventions_element = element conventions { convention_element+ }

convention_element = element convention {
    attribute version { version_string },
    ( convention_enum | x_convention_string )
}

x_details_element = element details {
    anything*
}

relationships_element =
  element relationships {
    relation_element+
  }

relation_element = source_relation_element | target_relation_element | expression_relation_element | parascriptural_relation_element | peripheral_relation_element

source_relation_element =
  element relation {
    attribute relationType { "source" },
    attribute flavor { "scriptureText" | "scriptureAudio" | x_thingey},
    attribute id { id_string },
    attribute revision { revision_string },
    attribute publicationId {publication_id}?
  }

target_relation_element =
  element relation {
    attribute relationType { "target" },
    attribute flavor { "scriptureText" | "scriptureAudio" | "scripturePrint" | "scriptureSignLanguageVideo" | "scriptureBraille" | "glossedTextStory" | x_thingey},
    attribute id { id_string },
    attribute revision { revision_string }
  }

expression_relation_element =
  element relation {
    attribute relationType { "expression" },
    attribute flavor { "scriptureAudio" | "scripturePrint" | "scriptureSignLanguageVideo" | "scriptureBraille" | "glossedTextStory" | x_thingey},
    attribute id { id_string },
    attribute revision { revision_string }
  }

parascriptural_relation_element =
  element relation {
    attribute relationType { "parascriptural" },
    attribute flavor { "parascripturalWordAlignment" | x_thingey },
    attribute id { id_string },
    attribute revision { revision_string }
  }

peripheral_relation_element =
  element relation {
    attribute relationType { "peripheral" },
    attribute flavor { x_thingey },
    attribute id { id_string },
    attribute revision { revision_string }
  }

anything = element * { attribute * {text}* & anything* & text}

# STRINGS AND ENUMS

loose_date = xsd:date | xsd:gYear | xsd:gYearMonth | xsd:dateTime

biblica_id_string = xsd:string { pattern = "[0-9]{0,5}" }

gbc_id_string = xsd:string { pattern = "[0-9a-f]{24}" }

tms_id_string = xsd:string { pattern = "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}" }

pt_id_string = xsd:string { pattern = "[0-9a-f]{40}" }

ptreg_id_string = xsd:string { pattern = "[0-9a-zA-Z]{17}" }

reap_id_string = xsd:anyURI

dbp_id_string = xsd:string { pattern = "[A-Z0-9]{10}" }

agmt_id_string = xsd:string

x_system_id_string = x_thingey

bcp47_string = xsd:string { pattern = "[A-Za-z]{2,3}([\-_][A-Za-z0-9]+){0,4}" }

trimmed_text = xsd:string { pattern = "\S(.+\S)?" }

scripture_text_project_type_enum = (
    "standard" |
    "daughter" |
    "studyBible" |
    "studyBibleAdditions" |
    "backTranslation" |
    "auxiliary" |
    "transliterationManual"|
    "transliterationWithEncoder"
)

x_scripture_text_project_string = x_thingey

id_prefix_string = xsd:string {pattern = "(x-)?[a-z][A-Za-z0-9]+"}

id_string = xsd:string {
    pattern = "(x-)?[a-z][A-Za-z0-9]+::[0-9A-Za-z]([0-9A-Za-z_\-]{0,62}[0-9A-Za-z])?"
}

revision_string = xsd:string {
    pattern = "[0-9A-Za-z]([0-9A-Za-z_.\-]{0,62}[0-9A-Za-z])?"
}

publication_id = xsd:string { pattern = "[A-Za-z][A-Za-z0-9_\-]{0,31}" }

flavor_enum = "scriptureText"

x_flavor_string = x_thingey

flavor_type_enum = "scripture" | "gloss" | "paraScriptural" | "peripheral"

version_string = xsd:string { pattern = "\d+.\d+(\..+)?" }

convention_enum = "usxRefs" | "usxDirs"

x_convention_string = x_thingey

x_thingey = xsd:string { pattern = "x-[a-z][A-za-z0-9]+" }

confidentiality_enum = "unrestricted" | "restricted" | "private"

abbreviation_string = xsd:string { pattern = "\w+" }

pt_reference_string = xsd:string { pattern = "((GEN|EXO|LEV|NUM|DEU|JOS|JDG|RUT|1SA|2SA|1KI|2KI|1CH|2CH|EZR|NEH|EST|JOB|PSA|PRO|ECC|SNG|ISA|JER|LAM|EZK|DAN|HOS|JOL|AMO|OBA|JON|MIC|NAM|HAB|ZEP|HAG|ZEC|MAL|MAT|MRK|LUK|JHN|ACT|ROM|1CO|2CO|GAL|EPH|PHP|COL|1TH|2TH|1TI|2TI|TIT|PHM|HEB|JAS|1PE|2PE|1JN|2JN|3JN|JUD|REV|TOB|JDT|ESG|WIS|SIR|BAR|LJE|S3Y|SUS|BEL|1MA|2MA|3MA|4MA|1ES|2ES|MAN|PS2|ODA|PSS|JSA|JDB|TBS|SST|DNT|BLT|EZA|5EZ|6EZ|DAG|PS3|2BA|LBA|JUB|ENO|1MQ|2MQ|3MQ|REP|4BA|LAO)(( [1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?((,([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?))*))|( [1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?(,(([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?)|([1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?)))*))?)(;(((GEN|EXO|LEV|NUM|DEU|JOS|JDG|RUT|1SA|2SA|1KI|2KI|1CH|2CH|EZR|NEH|EST|JOB|PSA|PRO|ECC|SNG|ISA|JER|LAM|EZK|DAN|HOS|JOL|AMO|OBA|JON|MIC|NAM|HAB|ZEP|HAG|ZEC|MAL|MAT|MRK|LUK|JHN|ACT|ROM|1CO|2CO|GAL|EPH|PHP|COL|1TH|2TH|1TI|2TI|TIT|PHM|HEB|JAS|1PE|2PE|1JN|2JN|3JN|JUD|REV|TOB|JDT|ESG|WIS|SIR|BAR|LJE|S3Y|SUS|BEL|1MA|2MA|3MA|4MA|1ES|2ES|MAN|PS2|ODA|PSS|JSA|JDB|TBS|SST|DNT|BLT|EZA|5EZ|6EZ|DAG|PS3|2BA|LBA|JUB|ENO|1MQ|2MQ|3MQ|REP|4BA|LAO)(( [1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?((,([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?))*))|( [1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?(,(([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?)|([1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?)))*))?)))*" }

canonical_book_enum = (ot_book_enum | nt_book_enum | dc_book_enum)

ot_book_enum = (
  "GEN" | # Genesis
  "EXO" | # Exodus
  "LEV" | # Leviticus
  "NUM" | # Numbers
  "DEU" | # Deuteronomy
  "JOS" | # Joshua
  "JDG" | # Judges
  "RUT" | # Ruth
  "1SA" | # 1 Samuel
  "2SA" | # 2 Samuel
  "1KI" | # 1 Kings
  "2KI" | # 2 Kings
  "1CH" | # 1 Chronicles
  "2CH" | # 2 Chronicles
  "EZR" | # Ezra
  "NEH" | # Nehemiah
  "EST" | # Esther (Hebrew)
  "JOB" | # Job
  "PSA" | # Psalms
  "PRO" | # Proverbs
  "ECC" | # Ecclesiastes
  "SNG" | # Song of Songs
  "ISA" | # Isaiah
  "JER" | # Jeremiah
  "LAM" | # Lamentations
  "EZK" | # Ezekiel
  "DAN" | # Daniel (Hebrew)
  "HOS" | # Hosea
  "JOL" | # Joel
  "AMO" | # Amos
  "OBA" | # Obadiah
  "JON" | # Jonah
  "MIC" | # Micah
  "NAM" | # Nahum
  "HAB" | # Habakkuk
  "ZEP" | # Zephaniah
  "HAG" | # Haggai
  "ZEC" | # Zechariah
  "MAL"   # Malachi
)

nt_book_enum = (
  "MAT" | # Matthew
  "MRK" | # Mark
  "LUK" | # Luke
  "JHN" | # John
  "ACT" | # Acts
  "ROM" | # Romans
  "1CO" | # 1 Corinthians
  "2CO" | # 2 Corinthians
  "GAL" | # Galatians
  "EPH" | # Ephesians
  "PHP" | # Philippians
  "COL" | # Colossians
  "1TH" | # 1 Thessalonians
  "2TH" | # 2 Thessalonians
  "1TI" | # 1 Timothy
  "2TI" | # 2 Timothy
  "TIT" | # Titus
  "PHM" | # Philemon
  "HEB" | # Hebrews
  "JAS" | # James
  "1PE" | # 1 Peter
  "2PE" | # 2 Peter
  "1JN" | # 1 John
  "2JN" | # 2 John
  "3JN" | # 3 John
  "JUD" | # Jude
  "REV"   # Revelation
)

dc_book_enum = (
  "TOB" | # Tobit
  "JDT" | # Judith
  "ESG" | # Esther Greek
  "WIS" | # Wisdom of Solomon
  "SIR" | # Sirach (Ecclesiasticus)
  "BAR" | # Baruch
  "LJE" | # Letter of Jeremiah
  "S3Y" | # Song of 3 Young Men
  "SUS" | # Susanna
  "BEL" | # Bel and the Dragon
  "1MA" | # 1 Maccabees
  "2MA" | # 2 Maccabees
  "3MA" | # 3 Maccabees
  "4MA" | # 4 Maccabees
  "1ES" | # 1 Esdras (Greek)
  "2ES" | # 2 Esdras (Latin)
  "MAN" | # Prayer of Manasseh
  "PS2" | # Psalm 151
  "ODA" | # Odes
  "PSS" | # Psalms of Solomon
  "JSA" | # actual variant text for JOS, now in LXA text
  "JDB" | # actual variant text for JDG, now in LXA text
  "TBS" | # actual variant text for TOB, now in LXA text
  "SST" | # actual variant text for SUS, now in LXA text
  "DNT" | # actual variant text for DAN, now in LXA text
  "BLT" | # actual variant text for BEL, now in LXA text
  "EZA" | # Apocalypse of Ezra
  "5EZ" | # 5 Ezra
  "6EZ" | # 6 Ezra
  "DAG" | # Daniel Greek
  "PS3" | # Psalms 152-155
  "2BA" | # 2 Baruch (Apocalypse)
  "LBA" | # Letter of Baruch
  "JUB" | # Jubilees
  "ENO" | # Enoch
  "1MQ" | # 1 Meqabyan
  "2MQ" | # 2 Meqabyan
  "3MQ" | # 3 Meqabyan
  "REP" | # Reproof
  "4BA" | # 4 Baruch
  "LAO"   # Laodiceans
)

canon_types = "DC" | "NT" | "OT, DC, NT" | "OT, NT, DC" | "OT, NT" | "OT+, NT" | "OT" | "OT+"

canon_component_enum =
    "armenianApostolicDC" |
    "armenianApostolicOT" |
    "armenianClassicalOT" |
    "armenianNT" |
    "catholicAndAnglicanDC" |
    "catholicLxxDC" |
    "catholicLxxOT" |
    "catholicLxxSeparatedDC" |
    "catholicPlusLutheranDC" |
    "catholicVulgateDC" |
    "catholicVulgateOT" |
    "catholicVulgateSeparatedDC" |
    "czechKralickaDC" |
    "danishLutheranDC" |
    "ethiopianOrthodoxDC" |
    "ethiopianOrthodoxNT" |
    "ethiopianOrthodoxOT" |
    "ethiopianProtestantNT" |
    "ethiopianProtestantOT" |
    "georgianOrthodoxDC" |
    "georgianOrthodoxOT" |
    "georgianSynodalDC" |
    "germanLutheranDC" |
    "greekOrthodoxDC" |
    "greekOrthodoxOT" |
    "kjvDC" |
    "kjvNonDC" |
    "lutheranNT" |
    "romanianOrthodoxDC" |
    "romanianOrthodoxOT" |
    "russianNT" |
    "russianOrthodoxDC" |
    "russianOrthodoxOT" |
    "russianProtestantOT" |
    "russianSynodalDC" |
    "syriacNT" |
    "syriacOT" |
    "tanakhOT" |
    "turkishInterconfessionalDC" |
    "vulgateCatholicBible" |
    "westernInterconfessionalDC" |
    "westernNT" |
    "westernOT"
