docs/avocado/blue/schema/metadata.rnc

start = root_element

root_element = element burritoMetadata {
    attribute id  { id_string },
    attribute revision { revision_string },
    id_server_element+
}

id_server_element = element idServer {
    attribute prefix { xsd:anyURI },
    attribute local { xsd:boolean }?,
    text
}

id_string = xsd:string {
    pattern = "[a-z]([0-9a-z_\-]*[0-9a-z])?::[0-9A-Za-z]([0-9A-Za-z_\-]{0,62}[0-9A-Za-z])?"
}

revision_string = xsd:string {
    pattern = "[0-9A-Za-z]([0-9A-Za-z_\-]{0,62}[0-9A-Za-z])?"
}