docs/schema/metadata.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="root_element"/>
  </start>
  <!-- ROOT ELEMENT -->
  <define name="root_element">
    <element name="burritoMetadata">
      <attribute name="schemaVersion">
        <data type="string">
          <param name="pattern">0.1(\..+)?</param>
        </data>
      </attribute>
      <oneOrMore>
        <ref name="id_server_element"/>
      </oneOrMore>
      <choice>
        <ref name="scripture_elements"/>
        <ref name="gloss_elements"/>
        <ref name="parascriptural_elements"/>
        <ref name="peripheral_elements"/>
      </choice>
    </element>
  </define>
  <define name="id_server_element">
    <element name="idServer">
      <attribute name="prefix">
        <ref name="id_prefix_string"/>
      </attribute>
      <optional>
        <attribute name="local">
          <data type="boolean"/>
        </attribute>
      </optional>
      <data type="anyURI">
        <param name="minLength">1</param>
      </data>
    </element>
  </define>
  <!-- FLAVORS -->
  <define name="scripture_elements">
    <interleave>
      <ref name="scripture_type_element"/>
      <ref name="identification_element"/>
      <optional>
        <ref name="relationships_element"/>
      </optional>
      <optional>
        <ref name="agencies_element"/>
      </optional>
      <ref name="licenses_element"/>
      <ref name="languages_element"/>
      <optional>
        <ref name="countries_element"/>
      </optional>
      <ref name="names_element"/>
      <ref name="ingredients_element"/>
      <optional>
        <ref name="publications_element"/>
      </optional>
      <optional>
        <ref name="copyright_element"/>
      </optional>
      <optional>
        <ref name="promotion_element"/>
      </optional>
      <ref name="snapshot_element"/>
    </interleave>
  </define>
  <define name="gloss_elements">
    <interleave>
      <ref name="gloss_type_element"/>
      <ref name="identification_element"/>
      <optional>
        <ref name="relationships_element"/>
      </optional>
      <optional>
        <ref name="agencies_element"/>
      </optional>
      <ref name="licenses_element"/>
      <ref name="languages_element"/>
      <optional>
        <ref name="countries_element"/>
      </optional>
      <optional>
        <ref name="names_element"/>
      </optional>
      <ref name="ingredients_element"/>
      <optional>
        <ref name="publications_element"/>
      </optional>
      <optional>
        <ref name="copyright_element"/>
      </optional>
      <optional>
        <ref name="promotion_element"/>
      </optional>
      <ref name="snapshot_element"/>
    </interleave>
  </define>
  <define name="parascriptural_elements">
    <interleave>
      <ref name="parascriptural_type_element"/>
      <ref name="identification_element"/>
      <optional>
        <ref name="relationships_element"/>
      </optional>
      <optional>
        <ref name="agencies_element"/>
      </optional>
      <ref name="licenses_element"/>
      <optional>
        <ref name="languages_element"/>
      </optional>
      <optional>
        <ref name="countries_element"/>
      </optional>
      <optional>
        <ref name="names_element"/>
      </optional>
      <ref name="ingredients_element"/>
      <optional>
        <ref name="publications_element"/>
      </optional>
      <optional>
        <ref name="copyright_element"/>
      </optional>
      <optional>
        <ref name="promotion_element"/>
      </optional>
      <ref name="snapshot_element"/>
    </interleave>
  </define>
  <define name="peripheral_elements">
    <interleave>
      <ref name="peripheral_type_element"/>
      <ref name="identification_element"/>
      <optional>
        <ref name="relationships_element"/>
      </optional>
      <optional>
        <ref name="agencies_element"/>
      </optional>
      <ref name="licenses_element"/>
      <optional>
        <ref name="languages_element"/>
      </optional>
      <optional>
        <ref name="countries_element"/>
      </optional>
      <optional>
        <ref name="names_element"/>
      </optional>
      <ref name="ingredients_element"/>
      <optional>
        <ref name="publications_element"/>
      </optional>
      <optional>
        <ref name="copyright_element"/>
      </optional>
      <optional>
        <ref name="promotion_element"/>
      </optional>
      <ref name="snapshot_element"/>
    </interleave>
  </define>
  <!-- TYPE -->
  <define name="scripture_type_element">
    <choice>
      <ref name="scripture_text_type_element"/>
      <ref name="scripture_audio_type_element"/>
      <ref name="scripture_sign_language_type_element"/>
      <ref name="scripture_print_type_element"/>
      <ref name="scripture_braille_type_element"/>
      <ref name="scripture_x_type_element"/>
    </choice>
  </define>
  <define name="gloss_type_element">
    <choice>
      <ref name="glossed_text_story_type_element"/>
      <ref name="gloss_x_type_element"/>
    </choice>
  </define>
  <define name="parascriptural_type_element">
    <ref name="parascriptural_word_alignment_type_element"/>
  </define>
  <define name="peripheral_type_element">
    <choice>
      <ref name="peripheral_versification_type_element"/>
      <ref name="peripheral_x_type_element"/>
    </choice>
  </define>
  <define name="scripture_text_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <value>scriptureText</value>
        </element>
        <element name="flavorType">
          <value>scripture</value>
        </element>
        <ref name="scripture_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="scripture_text_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="scripture_audio_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <value>scriptureAudio</value>
        </element>
        <element name="flavorType">
          <value>scripture</value>
        </element>
        <ref name="scripture_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="scripture_audio_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="scripture_sign_language_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <value>scriptureSignLanguageVideo</value>
        </element>
        <element name="flavorType">
          <value>scripture</value>
        </element>
        <ref name="scripture_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="scripture_sign_language_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="scripture_print_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <value>scripturePrint</value>
        </element>
        <element name="flavorType">
          <value>scripture</value>
        </element>
        <ref name="scripture_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="scripture_print_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="scripture_braille_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <value>scriptureBraille</value>
        </element>
        <element name="flavorType">
          <value>scripture</value>
        </element>
        <ref name="scripture_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="scripture_braille_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="scripture_x_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <ref name="x_thingey"/>
        </element>
        <element name="flavorType">
          <value>scripture</value>
        </element>
        <ref name="scripture_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="x_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="glossed_text_story_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <value>glossedTextStory</value>
        </element>
        <element name="flavorType">
          <value>gloss</value>
        </element>
        <ref name="gloss_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="glossed_text_story_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="gloss_x_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <ref name="x_thingey"/>
        </element>
        <element name="flavorType">
          <value>gloss</value>
        </element>
        <ref name="gloss_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="x_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="parascriptural_word_alignment_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <value>parascripturalWordAlignment</value>
        </element>
        <element name="flavorType">
          <value>parascriptural</value>
        </element>
        <ref name="parascriptural_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="parascriptural_word_alignment_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="peripheral_versification_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <value>peripheralVersification</value>
        </element>
        <element name="flavorType">
          <value>peripheral</value>
        </element>
        <ref name="peripheral_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="peripheral_versification_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="peripheral_x_type_element">
    <element name="type">
      <interleave>
        <element name="flavor">
          <ref name="x_thingey"/>
        </element>
        <element name="flavorType">
          <value>peripheral</value>
        </element>
        <ref name="peripheral_type_elements"/>
        <ref name="common_type_elements"/>
        <optional>
          <ref name="x_details_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="common_type_elements">
    <interleave>
      <ref name="scope_element"/>
      <ref name="confidentiality_element"/>
    </interleave>
  </define>
  <define name="scripture_type_elements">
    <ref name="canon_spec_element"/>
  </define>
  <define name="gloss_type_elements">
    <optional>
      <ref name="canon_spec_element"/>
    </optional>
  </define>
  <define name="glossed_text_story_details_element">
    <element name="flavorDetails">
      <empty/>
    </element>
  </define>
  <define name="parascriptural_type_elements">
    <empty/>
  </define>
  <define name="parascriptural_word_alignment_details_element">
    <element name="flavorDetails">
      <interleave>
        <element name="autoAlignerVersion">
          <ref name="trimmed_text"/>
        </element>
        <element name="stemmer">
          <interleave>
            <element name="name">
              <ref name="trimmed_text"/>
            </element>
            <element name="version">
              <ref name="trimmed_text"/>
            </element>
            <element name="affixes">
              <data type="boolean"/>
            </element>
          </interleave>
        </element>
        <element name="stopWords">
          <data type="boolean"/>
        </element>
        <element name="manualAlignment">
          <interleave>
            <element name="user">
              <ref name="trimmed_text"/>
            </element>
            <element name="references">
              <oneOrMore>
                <element name="lineId">
                  <interleave>
                    <element name="start">
                      <data type="nonNegativeInteger"/>
                    </element>
                    <optional>
                      <element name="end">
                        <data type="nonNegativeInteger"/>
                      </element>
                    </optional>
                  </interleave>
                </element>
              </oneOrMore>
            </element>
          </interleave>
        </element>
      </interleave>
    </element>
  </define>
  <define name="peripheral_type_elements">
    <empty/>
  </define>
  <define name="peripheral_versification_details_element">
    <element name="flavorDetails">
      <empty/>
    </element>
  </define>
  <define name="canon_spec_element">
    <element name="canonSpec">
      <attribute name="type">
        <ref name="canon_types"/>
      </attribute>
      <oneOrMore>
        <ref name="canon_component_element"/>
      </oneOrMore>
    </element>
  </define>
  <define name="canon_component_element">
    <choice>
      <ref name="known_canon_component"/>
      <ref name="x_canon_component"/>
    </choice>
  </define>
  <define name="known_canon_component">
    <element name="component">
      <attribute name="name">
        <ref name="canon_component_enum"/>
      </attribute>
    </element>
  </define>
  <define name="x_canon_component">
    <element name="component">
      <attribute name="name">
        <ref name="x_thingey"/>
      </attribute>
      <oneOrMore>
        <element name="book">
          <ref name="canonical_book_enum"/>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="confidentiality_element">
    <element name="confidentiality">
      <interleave>
        <element name="metadata">
          <ref name="confidentiality_enum"/>
        </element>
        <element name="source">
          <ref name="confidentiality_enum"/>
        </element>
        <element name="publications">
          <ref name="confidentiality_enum"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="scope_element">
    <element name="scope">
      <oneOrMore>
        <ref name="scope_book"/>
      </oneOrMore>
    </element>
  </define>
  <define name="scope_book">
    <element name="bookScope">
      <ref name="canonical_reference_string"/>
    </element>
  </define>
  <define name="scripture_text_details_element">
    <element name="flavorDetails">
      <interleave>
        <element name="projectType">
          <ref name="scripture_text_project_type_enum"/>
        </element>
        <element name="translationType">
          <ref name="translationTypeEnum"/>
        </element>
        <element name="audience">
          <ref name="translationLevelEnum"/>
        </element>
        <element name="usfmVersion">
          <data type="string">
            <param name="pattern">\d+\.\d+(\..+)?</param>
          </data>
        </element>
        <zeroOrMore>
          <ref name="text_convention_element"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="translationTypeEnum">
    <choice>
      <value>First</value>
      <value>New</value>
      <value>Revision</value>
      <value>Study / Help Material</value>
    </choice>
  </define>
  <define name="translationLevelEnum">
    <choice>
      <value>Basic</value>
      <value>Common</value>
      <value>Common - Literary</value>
      <value>Literary</value>
      <value>Liturgical</value>
      <value>Children</value>
    </choice>
  </define>
  <define name="scripture_audio_details_element">
    <element name="flavorDetails">
      <interleave>
        <element name="dramatization">
          <ref name="audioTypeDramatizationEnum"/>
        </element>
        <optional>
          <element name="source">
            <ref name="scripture_audio_format_elements"/>
          </element>
        </optional>
        <optional>
          <element name="production">
            <ref name="scripture_audio_format_elements"/>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="audio_convention_element"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="scripture_audio_format_elements">
    <interleave>
      <element name="compression">
        <ref name="audioCompressionEnum"/>
      </element>
      <element name="trackConfiguration">
        <ref name="audioTrackEnum"/>
      </element>
      <optional>
        <element name="bitRate">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="bitDepth">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="samplingRate">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="timingDir">
          <ref name="path_string"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="audioCompressionEnum">
    <choice>
      <value>MP3</value>
      <value>WAV</value>
    </choice>
  </define>
  <define name="audioTrackEnum">
    <choice>
      <value>1/0 (Mono)</value>
      <value>Dual mono</value>
      <value>2/0 (Stereo)</value>
      <value>5.1 Surround</value>
    </choice>
  </define>
  <define name="audioTypeDramatizationEnum">
    <choice>
      <value>Dramatized</value>
      <value>Non-Dramatized</value>
      <value>Single-Voice</value>
    </choice>
  </define>
  <define name="scripture_print_details_element">
    <element name="flavorDetails">
      <interleave>
        <choice>
          <ref name="pdf_print_elements"/>
          <ref name="ttt_print_elements"/>
        </choice>
        <zeroOrMore>
          <ref name="print_convention_element"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="pdf_print_elements">
    <interleave>
      <element name="contentType">
        <value>pdf</value>
      </element>
      <element name="pod">
        <data type="boolean"/>
      </element>
      <element name="pageCount">
        <data type="positiveInteger"/>
      </element>
      <element name="width">
        <ref name="measurementString"/>
      </element>
      <element name="height">
        <ref name="measurementString"/>
      </element>
      <element name="scale">
        <ref name="percentageString"/>
      </element>
      <element name="orientation">
        <ref name="printOrientationEnum"/>
      </element>
      <element name="color">
        <ref name="printColorEnum"/>
      </element>
      <optional>
        <element name="fonts">
          <oneOrMore>
            <ref name="printFormatFontElement"/>
          </oneOrMore>
        </element>
      </optional>
      <element name="edgeSpace">
        <interleave>
          <element name="top">
            <ref name="smallMeasurementString"/>
          </element>
          <element name="bottom">
            <ref name="smallMeasurementString"/>
          </element>
          <element name="inside">
            <ref name="smallMeasurementString"/>
          </element>
          <element name="outside">
            <ref name="smallMeasurementString"/>
          </element>
        </interleave>
      </element>
      <optional>
        <element name="thumbnail">
          <interleave>
            <element name="width">
              <data type="positiveInteger"/>
            </element>
            <element name="height">
              <data type="positiveInteger"/>
            </element>
            <element name="color">
              <ref name="printColorEnum"/>
            </element>
          </interleave>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="ttt_print_elements">
    <interleave>
      <element name="contentType">
        <value>inDesignTaggedText</value>
      </element>
      <element name="pod">
        <value>false</value>
      </element>
      <optional>
        <element name="fonts">
          <oneOrMore>
            <ref name="printFormatFontElement"/>
          </oneOrMore>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="printFormatFontElement">
    <element name="font">
      <attribute name="type">
        <ref name="printFontEnum"/>
      </attribute>
      <ref name="trimmed_text"/>
    </element>
  </define>
  <define name="scripture_sign_language_details_element">
    <element name="flavorDetails">
      <interleave>
        <optional>
          <element name="translationType">
            <ref name="translationTypeEnum"/>
          </element>
        </optional>
        <optional>
          <element name="audience">
            <ref name="translationLevelEnum"/>
          </element>
        </optional>
        <optional>
          <element name="timingDir">
            <ref name="path_string"/>
          </element>
        </optional>
        <element name="container">
          <value>MP4</value>
        </element>
        <ref name="videoFormatVideoStream"/>
        <optional>
          <ref name="videoFormatAudioStream"/>
        </optional>
        <optional>
          <ref name="videoFormatSubtitleStream"/>
        </optional>
        <zeroOrMore>
          <ref name="sign_language_convention_element"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="videoFormatVideoStream">
    <element name="videoStream">
      <interleave>
        <element name="codec">
          <data type="string"/>
        </element>
        <element name="bitRate">
          <data type="positiveInteger"/>
        </element>
        <element name="frameRate">
          <data type="decimal"/>
        </element>
        <element name="screenResolution">
          <ref name="screenResolution"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="screenResolution">
    <data type="string">
      <param name="pattern">[1-9][0-9]{0,3}x[1-9][0-9]{0,3}</param>
    </data>
  </define>
  <define name="videoFormatAudioStream">
    <element name="audioStream">
      <ref name="audioSubelements"/>
    </element>
  </define>
  <define name="audioSubelements">
    <interleave>
      <element name="compression">
        <ref name="audioCompressionEnum"/>
      </element>
      <element name="trackConfiguration">
        <ref name="audioTrackEnum"/>
      </element>
      <optional>
        <element name="bitRate">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="bitDepth">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="samplingRate">
          <data type="integer"/>
        </element>
      </optional>
      <optional>
        <element name="contentByChapter">
          <data type="boolean"/>
        </element>
      </optional>
    </interleave>
  </define>
  <define name="videoFormatSubtitleStream">
    <element name="subtitleStream">
      <empty/>
    </element>
  </define>
  <define name="scripture_braille_details_element">
    <element name="flavorDetails">
      <interleave>
        <element name="isContracted">
          <data type="boolean"/>
        </element>
        <ref name="brailleConvertorElement"/>
        <optional>
          <ref name="brailleHyphenationDictionaryElement"/>
        </optional>
        <ref name="brailleNumberSignElement"/>
        <optional>
          <ref name="brailleContinuousPoetryElement"/>
        </optional>
        <ref name="brailleContentElement"/>
        <ref name="braillePageElement"/>
        <zeroOrMore>
          <ref name="braille_convention_element"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="brailleConvertorElement">
    <element name="brailleConvertor">
      <interleave>
        <element name="version">
          <data type="string"/>
        </element>
        <element name="table">
          <element name="src">
            <data type="string"/>
          </element>
          <element name="name">
            <data type="string"/>
          </element>
        </element>
      </interleave>
    </element>
  </define>
  <define name="brailleHyphenationDictionaryElement">
    <element name="hyphenationDictionary">
      <attribute name="src">
        <data type="string"/>
      </attribute>
      <element name="name">
        <data type="string"/>
      </element>
    </element>
  </define>
  <define name="brailleNumberSignElement">
    <element name="numberSign">
      <interleave>
        <element name="character">
          <ref name="brailleString"/>
        </element>
        <element name="useInMargin">
          <data type="boolean"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="brailleContinuousPoetryElement">
    <element name="continuousPoetry">
      <interleave>
        <optional>
          <element name="startIndicator">
            <ref name="brailleString"/>
          </element>
        </optional>
        <optional>
          <element name="lineIndicator">
            <ref name="brailleString"/>
          </element>
        </optional>
        <element name="lineIndicatorSpaced">
          <choice>
            <value>never</value>
            <value>always</value>
            <value>sometimes</value>
          </choice>
        </element>
        <optional>
          <element name="endIndicator">
            <ref name="brailleString"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="brailleContentElement">
    <element name="content">
      <interleave>
        <element name="chapterNumberStyle">
          <choice>
            <value>lower</value>
            <value>upper</value>
          </choice>
        </element>
        <element name="chapterHeadingsNumberFirst">
          <data type="boolean"/>
        </element>
        <optional>
          <element name="versedParagraphs">
            <oneOrMore>
              <ref name="brailleVersedBook"/>
            </oneOrMore>
          </element>
        </optional>
        <element name="verseSeparator">
          <ref name="brailleString"/>
        </element>
        <element name="includeIntros">
          <data type="boolean"/>
        </element>
        <optional>
          <element name="footnotes">
            <element name="callerSymbol">
              <ref name="brailleString"/>
            </element>
          </element>
        </optional>
        <optional>
          <element name="crossReferences">
            <element name="callerSymbol">
              <ref name="brailleString"/>
            </element>
          </element>
        </optional>
        <optional>
          <element name="characterStyles">
            <interleave>
              <optional>
                <element name="emphasizedWord">
                  <ref name="brailleString"/>
                </element>
              </optional>
              <optional>
                <element name="emphasizedPassageStart">
                  <ref name="brailleString"/>
                </element>
              </optional>
              <optional>
                <element name="emphasizedPassageEnd">
                  <ref name="brailleString"/>
                </element>
              </optional>
            </interleave>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="brailleVersedBook">
    <element name="book">
      <choice>
        <ref name="canonical_book_enum"/>
        <value>ALL</value>
      </choice>
    </element>
  </define>
  <define name="braillePageElement">
    <element name="page">
      <interleave>
        <element name="charsPerLine">
          <data type="positiveInteger"/>
        </element>
        <element name="linesPerPage">
          <data type="positiveInteger"/>
        </element>
        <element name="defaultMarginWidth">
          <data type="positiveInteger"/>
        </element>
        <element name="versoLastLineBlank">
          <data type="boolean"/>
        </element>
        <element name="carryLines">
          <data type="positiveInteger"/>
        </element>
      </interleave>
    </element>
  </define>
  <!-- IDENTIFICATION -->
  <define name="identification_element">
    <element name="identification">
      <interleave>
        <oneOrMore>
          <element name="name">
            <ref name="name_like_content"/>
          </element>
        </oneOrMore>
        <zeroOrMore>
          <element name="description">
            <ref name="name_like_content"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="abbreviation">
            <ref name="abbreviation_like_content"/>
          </element>
        </zeroOrMore>
        <optional>
          <element name="dateStarted">
            <ref name="loose_date"/>
          </element>
        </optional>
        <optional>
          <element name="dateCompleted">
            <ref name="loose_date"/>
          </element>
        </optional>
        <oneOrMore>
          <ref name="system_id"/>
        </oneOrMore>
      </interleave>
    </element>
  </define>
  <define name="system_id">
    <element name="systemId">
      <optional>
        <attribute name="revision">
          <ref name="revision_string"/>
        </attribute>
      </optional>
      <ref name="id_string"/>
    </element>
  </define>
  <define name="name_like_content">
    <attribute name="lang">
      <ref name="bcp47_string"/>
    </attribute>
    <ref name="trimmed_text"/>
  </define>
  <define name="abbreviation_like_content">
    <attribute name="lang">
      <ref name="bcp47_string"/>
    </attribute>
    <ref name="abbreviation_string"/>
  </define>
  <define name="text_convention_element">
    <element name="convention">
      <attribute name="version">
        <ref name="version_string"/>
      </attribute>
      <choice>
        <ref name="text_convention_enum"/>
        <ref name="x_convention_string"/>
      </choice>
    </element>
  </define>
  <define name="audio_convention_element">
    <element name="convention">
      <attribute name="version">
        <ref name="version_string"/>
      </attribute>
      <choice>
        <ref name="audio_convention_enum"/>
        <ref name="x_convention_string"/>
      </choice>
    </element>
  </define>
  <define name="print_convention_element">
    <element name="convention">
      <attribute name="version">
        <ref name="version_string"/>
      </attribute>
      <choice>
        <ref name="print_convention_enum"/>
        <ref name="x_convention_string"/>
      </choice>
    </element>
  </define>
  <define name="sign_language_convention_element">
    <element name="convention">
      <attribute name="version">
        <ref name="version_string"/>
      </attribute>
      <choice>
        <ref name="sign_language_convention_enum"/>
        <ref name="x_convention_string"/>
      </choice>
    </element>
  </define>
  <define name="braille_convention_element">
    <element name="convention">
      <attribute name="version">
        <ref name="version_string"/>
      </attribute>
      <choice>
        <ref name="braille_convention_enum"/>
        <ref name="x_convention_string"/>
      </choice>
    </element>
  </define>
  <define name="x_details_element">
    <element name="flavorDetails">
      <zeroOrMore>
        <ref name="anything"/>
      </zeroOrMore>
    </element>
  </define>
  <!-- RELATIONSHIPS -->
  <define name="relationships_element">
    <element name="relationships">
      <oneOrMore>
        <ref name="relation_element"/>
      </oneOrMore>
    </element>
  </define>
  <define name="relation_element">
    <choice>
      <ref name="source_relation_element"/>
      <ref name="target_relation_element"/>
      <ref name="expression_relation_element"/>
      <ref name="parascriptural_relation_element"/>
      <ref name="peripheral_relation_element"/>
    </choice>
  </define>
  <define name="source_relation_element">
    <element name="relation">
      <attribute name="relationType">
        <value>source</value>
      </attribute>
      <attribute name="flavor">
        <choice>
          <value>scriptureText</value>
          <value>scriptureAudio</value>
          <ref name="x_thingey"/>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="id_string"/>
      </attribute>
      <attribute name="revision">
        <ref name="revision_string"/>
      </attribute>
      <optional>
        <attribute name="publicationId">
          <ref name="publication_id"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="target_relation_element">
    <element name="relation">
      <attribute name="relationType">
        <value>target</value>
      </attribute>
      <attribute name="flavor">
        <choice>
          <value>scriptureText</value>
          <value>scriptureAudio</value>
          <value>scripturePrint</value>
          <value>scriptureSignLanguageVideo</value>
          <value>scriptureBraille</value>
          <value>glossedTextStory</value>
          <ref name="x_thingey"/>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="id_string"/>
      </attribute>
      <optional>
        <attribute name="revision">
          <ref name="revision_string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="expression_relation_element">
    <element name="relation">
      <attribute name="relationType">
        <value>expression</value>
      </attribute>
      <attribute name="flavor">
        <choice>
          <value>scriptureAudio</value>
          <value>scripturePrint</value>
          <value>scriptureSignLanguageVideo</value>
          <value>scriptureBraille</value>
          <value>glossedTextStory</value>
          <ref name="x_thingey"/>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="id_string"/>
      </attribute>
      <optional>
        <attribute name="revision">
          <ref name="revision_string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="parascriptural_relation_element">
    <element name="relation">
      <attribute name="relationType">
        <value>parascriptural</value>
      </attribute>
      <attribute name="flavor">
        <choice>
          <value>parascripturalWordAlignment</value>
          <ref name="x_thingey"/>
        </choice>
      </attribute>
      <attribute name="id">
        <ref name="id_string"/>
      </attribute>
      <optional>
        <attribute name="revision">
          <ref name="revision_string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="peripheral_relation_element">
    <element name="relation">
      <attribute name="relationType">
        <value>peripheral</value>
      </attribute>
      <attribute name="flavor">
        <ref name="x_thingey"/>
      </attribute>
      <attribute name="id">
        <ref name="id_string"/>
      </attribute>
      <optional>
        <attribute name="revision">
          <ref name="revision_string"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="anything">
    <element>
      <anyName/>
      <interleave>
        <zeroOrMore>
          <attribute>
            <anyName/>
          </attribute>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="anything"/>
        </zeroOrMore>
        <text/>
      </interleave>
    </element>
  </define>
  <!-- AGENCIES -->
  <define name="agencies_element">
    <element name="agencies">
      <interleave>
        <oneOrMore>
          <ref name="agency_element"/>
        </oneOrMore>
        <optional>
          <ref name="rights_admin_element"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="agency_element">
    <element name="contributor">
      <interleave>
        <element name="isRightsHolder">
          <data type="boolean"/>
        </element>
        <element name="id">
          <ref name="id_string"/>
        </element>
        <oneOrMore>
          <element name="name">
            <ref name="name_like_content"/>
          </element>
        </oneOrMore>
        <zeroOrMore>
          <element name="abbr">
            <ref name="abbreviation_like_content"/>
          </element>
        </zeroOrMore>
        <optional>
          <element name="url">
            <data type="anyURI">
              <param name="minLength">1</param>
            </data>
          </element>
        </optional>
        <element name="contributes">
          <interleave>
            <element name="content">
              <data type="boolean"/>
            </element>
            <zeroOrMore>
              <choice>
                <element name="publication">
                  <data type="boolean"/>
                </element>
                <optional>
                  <element name="management">
                    <data type="boolean"/>
                  </element>
                </optional>
                <optional>
                  <element name="finance">
                    <data type="boolean"/>
                  </element>
                </optional>
                <element name="qa">
                  <data type="boolean"/>
                </element>
              </choice>
            </zeroOrMore>
          </interleave>
        </element>
      </interleave>
    </element>
  </define>
  <define name="rights_admin_element">
    <element name="administrator">
      <interleave>
        <element name="id">
          <ref name="id_string"/>
        </element>
        <oneOrMore>
          <element name="name">
            <ref name="name_like_content"/>
          </element>
        </oneOrMore>
        <zeroOrMore>
          <element name="abbr">
            <ref name="abbreviation_like_content"/>
          </element>
        </zeroOrMore>
        <optional>
          <element name="url">
            <data type="anyURI">
              <param name="minLength">1</param>
            </data>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- LICENSES -->
  <define name="licenses_element">
    <element name="licenses">
      <choice>
        <oneOrMore>
          <ref name="license_element"/>
        </oneOrMore>
        <element name="allRightsReserved">
          <empty/>
        </element>
        <element name="publicDomain">
          <empty/>
        </element>
      </choice>
    </element>
  </define>
  <define name="license_element">
    <element name="license">
      <choice>
        <element name="url">
          <data type="anyURI">
            <param name="minLength">1</param>
          </data>
        </element>
        <element name="ingredient">
          <ref name="path_string"/>
        </element>
      </choice>
    </element>
  </define>
  <!-- LANGUAGES -->
  <define name="languages_element">
    <element name="languages">
      <oneOrMore>
        <ref name="language_element"/>
      </oneOrMore>
    </element>
  </define>
  <define name="language_element">
    <element name="language">
      <interleave>
        <element name="bcp47">
          <ref name="bcp47_string"/>
        </element>
        <oneOrMore>
          <element name="name">
            <ref name="name_like_content"/>
          </element>
        </oneOrMore>
        <element name="scriptDirection">
          <ref name="language_script_direction_enum"/>
        </element>
        <optional>
          <element name="rod">
            <ref name="rod_string"/>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- COUNTRIES -->
  <define name="countries_element">
    <element name="countries">
      <oneOrMore>
        <ref name="country_element"/>
      </oneOrMore>
    </element>
  </define>
  <define name="country_element">
    <element name="country">
      <interleave>
        <element name="iso">
          <ref name="country_iso_string"/>
        </element>
        <oneOrMore>
          <element name="name">
            <ref name="name_like_content"/>
          </element>
        </oneOrMore>
      </interleave>
    </element>
  </define>
  <!-- NAMES -->
  <define name="names_element">
    <element name="names">
      <zeroOrMore>
        <ref name="names_name"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="names_name">
    <element name="name">
      <interleave>
        <attribute name="id">
          <data type="string">
            <param name="pattern">[\c\+]+</param>
          </data>
        </attribute>
        <zeroOrMore>
          <element name="long">
            <attribute name="lang">
              <ref name="bcp47_string"/>
            </attribute>
            <ref name="trimmed_text"/>
          </element>
        </zeroOrMore>
        <oneOrMore>
          <element name="short">
            <attribute name="lang">
              <ref name="bcp47_string"/>
            </attribute>
            <ref name="trimmed_text"/>
          </element>
        </oneOrMore>
        <zeroOrMore>
          <element name="abbr">
            <attribute name="lang">
              <ref name="bcp47_string"/>
            </attribute>
            <ref name="abbreviation_string"/>
          </element>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <!-- INGREDIENTS -->
  <define name="ingredients_element">
    <element name="ingredients">
      <oneOrMore>
        <ref name="ingredient_element"/>
      </oneOrMore>
    </element>
  </define>
  <define name="ingredient_element">
    <element name="ingredient">
      <interleave>
        <optional>
          <attribute name="isSource">
            <data type="boolean"/>
          </attribute>
        </optional>
        <element name="path">
          <ref name="path_string"/>
        </element>
        <element name="size">
          <data type="nonNegativeInteger"/>
        </element>
        <element name="mimeType">
          <ref name="mime_type_string"/>
        </element>
        <optional>
          <element name="checksum">
            <ref name="checksum"/>
          </element>
        </optional>
        <optional>
          <element name="scopeOrRole">
            <choice>
              <ref name="canonical_reference_string"/>
              <ref name="peripheral_enum"/>
              <ref name="burrito_role_enum"/>
            </choice>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <!-- PUBLICATIONS -->
  <define name="publications_element">
    <element name="publications">
      <oneOrMore>
        <ref name="publication_element"/>
      </oneOrMore>
    </element>
  </define>
  <define name="publication_element">
    <element name="publication">
      <interleave>
        <attribute name="id">
          <ref name="publication_id"/>
        </attribute>
        <optional>
          <attribute name="default">
            <data type="boolean"/>
          </attribute>
        </optional>
        <zeroOrMore>
          <element name="name">
            <ref name="name_like_content"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="description">
            <ref name="name_like_content"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="abbreviation">
            <ref name="abbreviation_like_content"/>
          </element>
        </zeroOrMore>
        <optional>
          <ref name="countries_element"/>
        </optional>
        <optional>
          <ref name="scope_element"/>
        </optional>
        <optional>
          <ref name="canon_spec_element"/>
        </optional>
        <element name="structure">
          <ref name="publication_divisions_or_content"/>
        </element>
      </interleave>
    </element>
  </define>
  <define name="publication_divisions_or_content">
    <oneOrMore>
      <choice>
        <ref name="publication_structure_division"/>
        <ref name="publication_structure_content"/>
      </choice>
    </oneOrMore>
  </define>
  <define name="publication_structure_division">
    <element name="division">
      <attribute name="nameId">
        <data type="string">
          <param name="pattern">[\c\+]+</param>
        </data>
      </attribute>
      <ref name="publication_divisions_or_content"/>
    </element>
  </define>
  <define name="publication_structure_content">
    <element name="content">
      <interleave>
        <optional>
          <attribute name="nameId">
            <data type="string">
              <param name="pattern">[\c\+]+</param>
            </data>
          </attribute>
        </optional>
        <attribute name="src">
          <ref name="path_string"/>
        </attribute>
      </interleave>
    </element>
  </define>
  <!-- COPYRIGHT -->
  <define name="copyright_element">
    <element name="copyright">
      <oneOrMore>
        <ref name="copyright_statement_element"/>
      </oneOrMore>
    </element>
  </define>
  <define name="copyright_statement_element">
    <choice>
      <ref name="plain_copyright_statement_element"/>
      <ref name="html_copyright_statement_element"/>
    </choice>
  </define>
  <define name="plain_copyright_statement_element">
    <element name="statement">
      <attribute name="format">
        <value>plain</value>
      </attribute>
      <attribute name="type">
        <choice>
          <value>full</value>
          <value>short</value>
        </choice>
      </attribute>
      <attribute name="lang">
        <ref name="bcp47_string"/>
      </attribute>
      <ref name="trimmed_text"/>
    </element>
  </define>
  <define name="html_copyright_statement_element">
    <element name="statement">
      <attribute name="format">
        <value>html</value>
      </attribute>
      <attribute name="type">
        <choice>
          <value>full</value>
          <value>short</value>
        </choice>
      </attribute>
      <attribute name="lang">
        <ref name="bcp47_string"/>
      </attribute>
      <oneOrMore>
        <ref name="simplified_html"/>
      </oneOrMore>
    </element>
  </define>
  <!-- PROMOTION -->
  <define name="promotion_element">
    <element name="promotion">
      <oneOrMore>
        <ref name="promotion_statement_element"/>
      </oneOrMore>
    </element>
  </define>
  <define name="promotion_statement_element">
    <choice>
      <ref name="plain_promotion_statement_element"/>
      <ref name="html_promotion_statement_element"/>
    </choice>
  </define>
  <define name="plain_promotion_statement_element">
    <element name="statement">
      <attribute name="format">
        <value>plain</value>
      </attribute>
      <attribute name="lang">
        <ref name="bcp47_string"/>
      </attribute>
      <ref name="trimmed_text"/>
    </element>
  </define>
  <define name="html_promotion_statement_element">
    <element name="statement">
      <attribute name="format">
        <value>html</value>
      </attribute>
      <attribute name="lang">
        <ref name="bcp47_string"/>
      </attribute>
      <oneOrMore>
        <ref name="simplified_html"/>
      </oneOrMore>
    </element>
  </define>
  <!-- SNAPSHOT -->
  <define name="snapshot_element">
    <element name="snapshot">
      <interleave>
        <optional>
          <element name="creation">
            <interleave>
              <optional>
                <element name="software">
                  <ref name="trimmed_text"/>
                </element>
              </optional>
              <optional>
                <element name="user">
                  <optional>
                    <attribute name="id">
                      <ref name="id_string"/>
                    </attribute>
                  </optional>
                  <optional>
                    <ref name="trimmed_text"/>
                  </optional>
                </element>
              </optional>
            </interleave>
          </element>
        </optional>
        <optional>
          <element name="uploading">
            <interleave>
              <optional>
                <element name="software">
                  <ref name="trimmed_text"/>
                </element>
              </optional>
              <optional>
                <element name="user">
                  <optional>
                    <attribute name="id">
                      <ref name="id_string"/>
                    </attribute>
                  </optional>
                  <optional>
                    <ref name="trimmed_text"/>
                  </optional>
                </element>
              </optional>
            </interleave>
          </element>
        </optional>
        <element name="comments">
          <ref name="trimmed_text"/>
        </element>
      </interleave>
    </element>
  </define>
  <!-- HTML -->
  <define name="simplified_html">
    <oneOrMore>
      <ref name="sh_block_element"/>
    </oneOrMore>
  </define>
  <define name="sh_block_element">
    <choice>
      <ref name="sh_p"/>
      <ref name="sh_h1"/>
      <ref name="sh_h2"/>
      <ref name="sh_h3"/>
      <ref name="sh_ul"/>
      <ref name="sh_ol"/>
      <ref name="sh_blockquote"/>
    </choice>
  </define>
  <define name="sh_p">
    <element name="p">
      <mixed>
        <zeroOrMore>
          <ref name="sh_char_markup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="sh_h1">
    <element name="h1">
      <mixed>
        <zeroOrMore>
          <ref name="sh_char_markup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="sh_h2">
    <element name="h2">
      <mixed>
        <zeroOrMore>
          <ref name="sh_char_markup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="sh_h3">
    <element name="h3">
      <mixed>
        <zeroOrMore>
          <ref name="sh_char_markup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="sh_ol">
    <element name="ol">
      <oneOrMore>
        <ref name="sh_li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="sh_ul">
    <element name="ul">
      <oneOrMore>
        <ref name="sh_li"/>
      </oneOrMore>
    </element>
  </define>
  <define name="sh_li">
    <element name="li">
      <mixed>
        <interleave>
          <zeroOrMore>
            <ref name="sh_char_markup"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="sh_block_element"/>
          </zeroOrMore>
        </interleave>
      </mixed>
    </element>
  </define>
  <define name="sh_blockquote">
    <element name="blockquote">
      <oneOrMore>
        <ref name="sh_block_element"/>
      </oneOrMore>
    </element>
  </define>
  <define name="sh_char_markup">
    <choice>
      <ref name="sh_a"/>
      <ref name="sh_img"/>
      <ref name="sh_br"/>
      <ref name="sh_strong"/>
      <ref name="sh_b"/>
      <ref name="sh_em"/>
      <ref name="sh_i"/>
    </choice>
  </define>
  <define name="sh_a">
    <element name="a">
      <attribute name="href">
        <data type="anyURI">
          <param name="minLength">1</param>
        </data>
      </attribute>
      <mixed>
        <zeroOrMore>
          <ref name="sh_char_markup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="sh_img">
    <element name="img">
      <attribute name="src">
        <data type="anyURI">
          <param name="minLength">1</param>
        </data>
      </attribute>
      <attribute name="alt">
        <ref name="trimmed_text"/>
      </attribute>
    </element>
  </define>
  <define name="sh_br">
    <element name="br">
      <empty/>
    </element>
  </define>
  <define name="sh_strong">
    <element name="strong">
      <mixed>
        <zeroOrMore>
          <ref name="sh_char_markup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="sh_b">
    <element name="b">
      <mixed>
        <zeroOrMore>
          <ref name="sh_char_markup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="sh_em">
    <element name="em">
      <mixed>
        <zeroOrMore>
          <ref name="sh_char_markup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="sh_i">
    <element name="i">
      <mixed>
        <zeroOrMore>
          <ref name="sh_char_markup"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <!-- STRINGS AND ENUMS -->
  <define name="loose_date">
    <choice>
      <data type="date"/>
      <data type="gYear"/>
      <data type="gYearMonth"/>
      <data type="dateTime"/>
    </choice>
  </define>
  <define name="bcp47_string">
    <data type="string">
      <param name="pattern">[A-Za-z]{2,3}([\-_][A-Za-z0-9]+){0,4}</param>
    </data>
  </define>
  <define name="trimmed_text">
    <data type="string">
      <param name="pattern">\S(.+\S)?</param>
    </data>
  </define>
  <define name="scripture_text_project_type_enum">
    <choice>
      <value>standard</value>
      <value>daughter</value>
      <value>studyBible</value>
      <value>studyBibleAdditions</value>
      <value>backTranslation</value>
      <value>auxiliary</value>
      <value>transliterationManual</value>
      <value>transliterationWithEncoder</value>
    </choice>
  </define>
  <define name="x_scripture_text_project_string">
    <ref name="x_thingey"/>
  </define>
  <define name="id_prefix_string">
    <data type="string">
      <param name="pattern">[0-9a-zA-Z][0-9a-zA-Z\-]{1,31}</param>
    </data>
  </define>
  <define name="id_string">
    <data type="string">
      <param name="minLength">1</param>
      <param name="pattern">[0-9a-zA-Z][0-9a-zA-Z\-]{1,31}::\S+</param>
    </data>
  </define>
  <define name="revision_string">
    <data type="string">
      <param name="pattern">[0-9A-Za-z]([0-9A-Za-z_.:\-]{0,62}[0-9A-Za-z])?</param>
    </data>
  </define>
  <define name="publication_id">
    <data type="string">
      <param name="pattern">[A-Za-z][A-Za-z0-9_\-]{0,31}</param>
    </data>
  </define>
  <define name="flavor_enum">
    <value>scriptureText</value>
  </define>
  <define name="x_flavor_string">
    <ref name="x_thingey"/>
  </define>
  <define name="flavor_type_enum">
    <choice>
      <value>scripture</value>
      <value>gloss</value>
      <value>paraScriptural</value>
      <value>peripheral</value>
    </choice>
  </define>
  <define name="version_string">
    <data type="string">
      <param name="pattern">\d+.\d+(\..+)?</param>
    </data>
  </define>
  <define name="text_convention_enum">
    <choice>
      <value>usxRefs</value>
      <value>usxDirs</value>
      <value>typesetAsVersedParagraphs</value>
    </choice>
  </define>
  <define name="audio_convention_enum">
    <choice>
      <value>contentResourcesByChapter</value>
      <value>bookDirs</value>
    </choice>
  </define>
  <define name="print_convention_enum">
    <value>contentResourcesByChapter</value>
  </define>
  <define name="sign_language_convention_enum">
    <choice>
      <value>contentResourcesByChapter</value>
      <value>bookDirs</value>
      <value>rolesInUris</value>
    </choice>
  </define>
  <define name="braille_convention_enum">
    <empty/>
  </define>
  <define name="x_convention_string">
    <ref name="x_thingey"/>
  </define>
  <define name="x_thingey">
    <data type="string">
      <param name="pattern">x-[a-z][A-za-z0-9]+</param>
    </data>
  </define>
  <define name="confidentiality_enum">
    <choice>
      <value>unrestricted</value>
      <value>restricted</value>
      <value>private</value>
    </choice>
  </define>
  <define name="abbreviation_string">
    <data type="string">
      <param name="pattern">\w+</param>
    </data>
  </define>
  <define name="canonical_reference_string">
    <data type="string">
      <param name="pattern">((GEN|EXO|LEV|NUM|DEU|JOS|JDG|RUT|1SA|2SA|1KI|2KI|1CH|2CH|EZR|NEH|EST|JOB|PSA|PRO|ECC|SNG|ISA|JER|LAM|EZK|DAN|HOS|JOL|AMO|OBA|JON|MIC|NAM|HAB|ZEP|HAG|ZEC|MAL|MAT|MRK|LUK|JHN|ACT|ROM|1CO|2CO|GAL|EPH|PHP|COL|1TH|2TH|1TI|2TI|TIT|PHM|HEB|JAS|1PE|2PE|1JN|2JN|3JN|JUD|REV|TOB|JDT|ESG|WIS|SIR|BAR|LJE|S3Y|SUS|BEL|1MA|2MA|3MA|4MA|1ES|2ES|MAN|PS2|ODA|PSS|JSA|JDB|TBS|SST|DNT|BLT|EZA|5EZ|6EZ|DAG|PS3|2BA|LBA|JUB|ENO|1MQ|2MQ|3MQ|REP|4BA|LAO)(( [1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?((,([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?))*))|( [1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?(,(([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?)|([1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?)))*))?)(;(((GEN|EXO|LEV|NUM|DEU|JOS|JDG|RUT|1SA|2SA|1KI|2KI|1CH|2CH|EZR|NEH|EST|JOB|PSA|PRO|ECC|SNG|ISA|JER|LAM|EZK|DAN|HOS|JOL|AMO|OBA|JON|MIC|NAM|HAB|ZEP|HAG|ZEC|MAL|MAT|MRK|LUK|JHN|ACT|ROM|1CO|2CO|GAL|EPH|PHP|COL|1TH|2TH|1TI|2TI|TIT|PHM|HEB|JAS|1PE|2PE|1JN|2JN|3JN|JUD|REV|TOB|JDT|ESG|WIS|SIR|BAR|LJE|S3Y|SUS|BEL|1MA|2MA|3MA|4MA|1ES|2ES|MAN|PS2|ODA|PSS|JSA|JDB|TBS|SST|DNT|BLT|EZA|5EZ|6EZ|DAG|PS3|2BA|LBA|JUB|ENO|1MQ|2MQ|3MQ|REP|4BA|LAO)(( [1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?((,([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?))*))|( [1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?(,(([1-9][0-9]{0,2}(-[1-9][0-9]{0,2})?)|([1-9][0-9]{0,2}:[1-9][0-9]{0,2}(-[1-9][0-9]{0,2}(:[1-9][0-9]{0,2})?)?)))*))?)))*</param>
    </data>
  </define>
  <define name="peripheral_enum">
    <choice>
      <value>abbreviations</value>
      <value>alphacontents</value>
      <value>chron</value>
      <value>cnc</value>
      <value>contents</value>
      <value>cover</value>
      <value>foreword</value>
      <value>glo</value>
      <value>halftitle</value>
      <value>imprimatur</value>
      <data type="string">
        <param name="pattern">int(bible|dc|epistles|gospels|hist|nt|ot|pent|poetry|prophecy)</param>
      </data>
      <data type="string">
        <param name="pattern">int(GEN|EXO|LEV|NUM|DEU|JOS|JDG|RUT|1SA|2SA|1KI|2KI|1CH|2CH|EZR|NEH|EST|JOB|PSA|PRO|ECC|SNG|ISA|JER|LAM|EZK|DAN|HOS|JOL|AMO|OBA|JON|MIC|NAM|HAB|ZEP|HAG|ZEC|MAL|MAT|MRK|LUK|JHN|ACT|ROM|1CO|2CO|GAL|EPH|PHP|COL|1TH|2TH|1TI|2TI|TIT|PHM|HEB|JAS|1PE|2PE|1JN|2JN|3JN|JUD|REV|TOB|JDT|ESG|WIS|SIR|BAR|LJE|S3Y|SUS|BEL|1MA|2MA|3MA|4MA|1ES|2ES|MAN|PS2|ODA|PSS|JSA|JDB|TBS|SST|DNT|BLT|EZA|5EZ|6EZ|DAG|PS3|2BA|LBA|JUB|ENO|1MQ|2MQ|3MQ|REP|4BA|LAO)</param>
      </data>
      <value>lxxquotes</value>
      <value>maps</value>
      <value>measures</value>
      <value>ndx</value>
      <value>preface</value>
      <value>promo</value>
      <value>pubdata</value>
      <value>spine</value>
      <value>tdx</value>
      <value>title</value>
    </choice>
  </define>
  <define name="burrito_role_enum">
    <choice>
      <ref name="burrito_print_role_enum"/>
      <ref name="burrito_timeline_enum"/>
      <ref name="burrito_sign_language_enum"/>
    </choice>
  </define>
  <define name="burrito_print_role_enum">
    <choice>
      <value>printBody</value>
      <value>printCover</value>
      <value>printThumbnail</value>
      <value>printFlowable</value>
    </choice>
  </define>
  <define name="burrito_timeline_enum">
    <value>timing</value>
  </define>
  <define name="burrito_sign_language_enum">
    <choice>
      <data type="string">
        <param name="pattern">(sign|concept|place)(--\S(.*\S)?)?</param>
      </data>
      <value>credits</value>
    </choice>
  </define>
  <define name="canonical_book_enum">
    <choice>
      <ref name="ot_book_enum"/>
      <ref name="nt_book_enum"/>
      <ref name="dc_book_enum"/>
    </choice>
  </define>
  <define name="ot_book_enum">
    <choice>
      <value>GEN</value>
      <!-- Genesis -->
      <value>EXO</value>
      <!-- Exodus -->
      <value>LEV</value>
      <!-- Leviticus -->
      <value>NUM</value>
      <!-- Numbers -->
      <value>DEU</value>
      <!-- Deuteronomy -->
      <value>JOS</value>
      <!-- Joshua -->
      <value>JDG</value>
      <!-- Judges -->
      <value>RUT</value>
      <!-- Ruth -->
      <value>1SA</value>
      <!-- 1 Samuel -->
      <value>2SA</value>
      <!-- 2 Samuel -->
      <value>1KI</value>
      <!-- 1 Kings -->
      <value>2KI</value>
      <!-- 2 Kings -->
      <value>1CH</value>
      <!-- 1 Chronicles -->
      <value>2CH</value>
      <!-- 2 Chronicles -->
      <value>EZR</value>
      <!-- Ezra -->
      <value>NEH</value>
      <!-- Nehemiah -->
      <value>EST</value>
      <!-- Esther (Hebrew) -->
      <value>JOB</value>
      <!-- Job -->
      <value>PSA</value>
      <!-- Psalms -->
      <value>PRO</value>
      <!-- Proverbs -->
      <value>ECC</value>
      <!-- Ecclesiastes -->
      <value>SNG</value>
      <!-- Song of Songs -->
      <value>ISA</value>
      <!-- Isaiah -->
      <value>JER</value>
      <!-- Jeremiah -->
      <value>LAM</value>
      <!-- Lamentations -->
      <value>EZK</value>
      <!-- Ezekiel -->
      <value>DAN</value>
      <!-- Daniel (Hebrew) -->
      <value>HOS</value>
      <!-- Hosea -->
      <value>JOL</value>
      <!-- Joel -->
      <value>AMO</value>
      <!-- Amos -->
      <value>OBA</value>
      <!-- Obadiah -->
      <value>JON</value>
      <!-- Jonah -->
      <value>MIC</value>
      <!-- Micah -->
      <value>NAM</value>
      <!-- Nahum -->
      <value>HAB</value>
      <!-- Habakkuk -->
      <value>ZEP</value>
      <!-- Zephaniah -->
      <value>HAG</value>
      <!-- Haggai -->
      <value>ZEC</value>
      <!-- Zechariah -->
      <value>MAL</value>
    </choice>
  </define>
  <!-- Malachi -->
  <define name="nt_book_enum">
    <choice>
      <value>MAT</value>
      <!-- Matthew -->
      <value>MRK</value>
      <!-- Mark -->
      <value>LUK</value>
      <!-- Luke -->
      <value>JHN</value>
      <!-- John -->
      <value>ACT</value>
      <!-- Acts -->
      <value>ROM</value>
      <!-- Romans -->
      <value>1CO</value>
      <!-- 1 Corinthians -->
      <value>2CO</value>
      <!-- 2 Corinthians -->
      <value>GAL</value>
      <!-- Galatians -->
      <value>EPH</value>
      <!-- Ephesians -->
      <value>PHP</value>
      <!-- Philippians -->
      <value>COL</value>
      <!-- Colossians -->
      <value>1TH</value>
      <!-- 1 Thessalonians -->
      <value>2TH</value>
      <!-- 2 Thessalonians -->
      <value>1TI</value>
      <!-- 1 Timothy -->
      <value>2TI</value>
      <!-- 2 Timothy -->
      <value>TIT</value>
      <!-- Titus -->
      <value>PHM</value>
      <!-- Philemon -->
      <value>HEB</value>
      <!-- Hebrews -->
      <value>JAS</value>
      <!-- James -->
      <value>1PE</value>
      <!-- 1 Peter -->
      <value>2PE</value>
      <!-- 2 Peter -->
      <value>1JN</value>
      <!-- 1 John -->
      <value>2JN</value>
      <!-- 2 John -->
      <value>3JN</value>
      <!-- 3 John -->
      <value>JUD</value>
      <!-- Jude -->
      <value>REV</value>
    </choice>
  </define>
  <!-- Revelation -->
  <define name="dc_book_enum">
    <choice>
      <value>TOB</value>
      <!-- Tobit -->
      <value>JDT</value>
      <!-- Judith -->
      <value>ESG</value>
      <!-- Esther Greek -->
      <value>WIS</value>
      <!-- Wisdom of Solomon -->
      <value>SIR</value>
      <!-- Sirach (Ecclesiasticus) -->
      <value>BAR</value>
      <!-- Baruch -->
      <value>LJE</value>
      <!-- Letter of Jeremiah -->
      <value>S3Y</value>
      <!-- Song of 3 Young Men -->
      <value>SUS</value>
      <!-- Susanna -->
      <value>BEL</value>
      <!-- Bel and the Dragon -->
      <value>1MA</value>
      <!-- 1 Maccabees -->
      <value>2MA</value>
      <!-- 2 Maccabees -->
      <value>3MA</value>
      <!-- 3 Maccabees -->
      <value>4MA</value>
      <!-- 4 Maccabees -->
      <value>1ES</value>
      <!-- 1 Esdras (Greek) -->
      <value>2ES</value>
      <!-- 2 Esdras (Latin) -->
      <value>MAN</value>
      <!-- Prayer of Manasseh -->
      <value>PS2</value>
      <!-- Psalm 151 -->
      <value>ODA</value>
      <!-- Odes -->
      <value>PSS</value>
      <!-- Psalms of Solomon -->
      <value>JSA</value>
      <!-- actual variant text for JOS, now in LXA text -->
      <value>JDB</value>
      <!-- actual variant text for JDG, now in LXA text -->
      <value>TBS</value>
      <!-- actual variant text for TOB, now in LXA text -->
      <value>SST</value>
      <!-- actual variant text for SUS, now in LXA text -->
      <value>DNT</value>
      <!-- actual variant text for DAN, now in LXA text -->
      <value>BLT</value>
      <!-- actual variant text for BEL, now in LXA text -->
      <value>EZA</value>
      <!-- Apocalypse of Ezra -->
      <value>5EZ</value>
      <!-- 5 Ezra -->
      <value>6EZ</value>
      <!-- 6 Ezra -->
      <value>DAG</value>
      <!-- Daniel Greek -->
      <value>PS3</value>
      <!-- Psalms 152-155 -->
      <value>2BA</value>
      <!-- 2 Baruch (Apocalypse) -->
      <value>LBA</value>
      <!-- Letter of Baruch -->
      <value>JUB</value>
      <!-- Jubilees -->
      <value>ENO</value>
      <!-- Enoch -->
      <value>1MQ</value>
      <!-- 1 Meqabyan -->
      <value>2MQ</value>
      <!-- 2 Meqabyan -->
      <value>3MQ</value>
      <!-- 3 Meqabyan -->
      <value>REP</value>
      <!-- Reproof -->
      <value>4BA</value>
      <!-- 4 Baruch -->
      <value>LAO</value>
    </choice>
  </define>
  <!-- Laodiceans -->
  <define name="canon_types">
    <choice>
      <value>DC</value>
      <value>NT</value>
      <value>OT, DC, NT</value>
      <value>OT, NT, DC</value>
      <value>OT, NT</value>
      <value>OT+, NT</value>
      <value>OT</value>
      <value>OT+</value>
    </choice>
  </define>
  <define name="canon_component_enum">
    <choice>
      <value>armenianApostolicDC</value>
      <value>armenianApostolicOT</value>
      <value>armenianClassicalOT</value>
      <value>armenianNT</value>
      <value>catholicAndAnglicanDC</value>
      <value>catholicLxxDC</value>
      <value>catholicLxxOT</value>
      <value>catholicLxxSeparatedDC</value>
      <value>catholicPlusLutheranDC</value>
      <value>catholicVulgateDC</value>
      <value>catholicVulgateOT</value>
      <value>catholicVulgateSeparatedDC</value>
      <value>czechKralickaDC</value>
      <value>danishLutheranDC</value>
      <value>ethiopianOrthodoxDC</value>
      <value>ethiopianOrthodoxNT</value>
      <value>ethiopianOrthodoxOT</value>
      <value>ethiopianProtestantNT</value>
      <value>ethiopianProtestantOT</value>
      <value>georgianOrthodoxDC</value>
      <value>georgianOrthodoxOT</value>
      <value>georgianSynodalDC</value>
      <value>germanLutheranDC</value>
      <value>greekOrthodoxDC</value>
      <value>greekOrthodoxOT</value>
      <value>kjvDC</value>
      <value>kjvNonDC</value>
      <value>lutheranNT</value>
      <value>romanianOrthodoxDC</value>
      <value>romanianOrthodoxOT</value>
      <value>russianNT</value>
      <value>russianOrthodoxDC</value>
      <value>russianOrthodoxOT</value>
      <value>russianProtestantOT</value>
      <value>russianSynodalDC</value>
      <value>syriacNT</value>
      <value>syriacOT</value>
      <value>tanakhOT</value>
      <value>turkishInterconfessionalDC</value>
      <value>vulgateCatholicBible</value>
      <value>westernInterconfessionalDC</value>
      <value>westernNT</value>
      <value>westernOT</value>
    </choice>
  </define>
  <define name="rod_string">
    <data type="string">
      <param name="pattern">[0-9]{5}</param>
    </data>
  </define>
  <define name="language_script_direction_enum">
    <choice>
      <value>LTR</value>
      <!-- Left to Right -->
      <value>RTL</value>
    </choice>
  </define>
  <!-- RTL (Right to Left) -->
  <define name="country_iso_string">
    <data type="string">
      <param name="pattern">[A-Z][A-Z]</param>
    </data>
  </define>
  <define name="checksum">
    <data type="string">
      <param name="pattern">[a-f0-9]{32}(\-\d+)?</param>
    </data>
  </define>
  <define name="mime_type_string">
    <data type="string">
      <param name="pattern">[\-a-z0-9]+/[\-a-z0-9+]+</param>
    </data>
  </define>
  <define name="path_string">
    <data type="string">
      <param name="pattern">[\c\+]+(/[\c\+]+)*</param>
    </data>
  </define>
  <define name="measurementString">
    <data type="string">
      <param name="pattern">[1-9][0-9]{1,4}mm</param>
    </data>
  </define>
  <define name="smallMeasurementString">
    <data type="string">
      <param name="pattern">[1-9][0-9]{0,2}mm</param>
    </data>
  </define>
  <define name="percentageString">
    <data type="string">
      <param name="pattern">[1-9][0-9]{1,3}%</param>
    </data>
  </define>
  <define name="printOrientationEnum">
    <choice>
      <value>portrait</value>
      <value>landscape</value>
    </choice>
  </define>
  <define name="printColorEnum">
    <choice>
      <value>CMYK</value>
      <value>RGB</value>
    </choice>
  </define>
  <define name="printFontEnum">
    <choice>
      <value>OpenType</value>
      <value>Other</value>
      <value>Bitmap</value>
      <value>TrueType</value>
      <value>Type1</value>
    </choice>
  </define>
  <define name="brailleString">
    <data type="string">
      <param name="pattern">([-])*</param>
    </data>
  </define>
</grammar>
